$font-primary: 'Poppins', sans-serif;

$color-main:#000000;

$color-purple:#6648c2;
$color-purple-light:#866ce1;
$color-purple-super-light:#ddd5ef;

$color-grey-dark:#3f3f41;
$color-grey:#b7b7b7;
$color-grey-text:#707070;
$color-grey-light:#e1e1e1;

$color-green-strong:#2ed573;
$color-green:#00d8b4;
$color-green-light:#d2f7e1;
$color-green-super-light:#d4fae5;

$color-blue:#00adef;
$color-blue-super-light:#00adef;

$color-red: #ff1b43;
$color-red-super-light: #fad5d9;